header{
    background-color: hsl(240, 93%, 66%);
    grid-area: h1;
    display: flex;
     align-items: center;
     justify-content: center;
    

  }
  nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: OMEGLE;
    color: white;
    font-size: 3rem;
    
    
  


  }


#s1{
    grid-area: s1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: OMEGLE;
    font-size: 3rem;
    color: hsl(240, 93%, 66%);
    margin-top: 15vh;
  
    
}
#s2{
    grid-area: s2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OMEGLE;
    font-size: 2rem;
    color: hsl(240, 93%, 66%);
    margin-top: 4vh;
}
#s3{
    grid-area: s3;
    margin-top: 10vh;
    
   
}

#s4{
    grid-area: s4;
    margin-top: 10vh;
    
}

#s5{
    grid-area: s5;
    margin-top: 10vh;
    
}

footer{
    grid-area: f1;
    background-color: rgb(255, 255, 255);
    color:hsl(240, 93%, 66%) ;
    font-family: OMEGLE;
    font-size: 150%;
    width: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
    


#s6{
    grid-area: s6;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: OMEGLE;
    color: hsl(240, 93%, 66%);
    font-size: 2rem;
    margin-top: 2vh;
    
}
#wrapper{
    display: grid;
    grid-template-areas: 
    "h1 h1 h1"
    "s1 s1 s1"
    "s2 s2 s2"
    "s6 s6 s6"
    "f1 f1 f1"
    "s3 s4 s5";
    height: 95vh;
    
   

}

#bildernastart{
display: flex;
justify-content: space-around;



   
}

